/* reset css */
/* common */
*
{
    /* emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    /* không phải tính kích thước  */
}
/* làm từ ngoài vào trong
    từ trên xuống dưới  
    xong header mới xong slider để k phi logic 
    tổng quan đến chi tiết 

*/
/* Vị trí
    kích thước 
    màu sắc 
    kiểu dáng ( kiểu chữ )  , hình tròn , .... )
*/
html
{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.row
{
    margin-left: -8px;
    margin-right: -8px;
}
.col
{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.text-center
{
    text-align: center !important; 
}
.col-third
{
    width: 33.333333%;
}
.col-half
{
    width: 50%;
}
.col-full
{
    width: 100%;
}
.row::after
{
    display: block;
    content: "";
    clear: both;
}
.mt-8
{
    margin-top: 8px !important;
}
.mt-16
{
    margin-top: 16px !important;
    
}

.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
    }
.pull-right
{
    float: right !important;;
}
/*  */
#main {

}
#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  
    /* xong vần ngoài rồi đến phần trong . có navigation và phần search */
}
#navigation .subnav li a
{
    display: block;
    
}
#navigation
{

}
#navigation li
{
    /* display: inline-block; */
    position: relative;
}
#navigation > li > a
/* hiểu theo w3 thẻ a phải là con gốc của thẻ li và thẻ li phải con gốc của thẻ navi .  */
/* thẻ a phải là con trực tiếp thẻ li và li con trực tiếp của navi */
/* tất cả thẻ a con của thẻ li con của navigation đều có thuộc tính này   xét theo độ ưu tiên*/
{
    color: #fff;
    text-transform: uppercase;

}
#navigation > li
{
    display: inline-block;
}
#navigation li a 
{
     
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}
#navigation .subnav 
{
     display: none;
     min-width: 160px; 
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    
}
#navigation li:hover .subnav
{
    display: block;
}
#navigation .subnav a
{
    color: black;
    padding: 0 16px; 
     line-height: 38px;
     
}
/*  dung so chia het cho 4 de tao khoang cach de cho dep hon */
#navigation .subnav li:hover a, #navigation > li:hover >a
{
    color: #000;
    background-color: #ccc;
}

#navigation li:hover a 
{
/*  k  phải syntax a :hover mà li: hover a vì khi trỏ đên phần more thì các mục ở dưới more nó vẫn còn in đậm còn k thì nó k in đậm */
/* khi hover vào thẻ li là con của thằng nav thì con của li dc hover  => là thẻ a  */
    /* color: #000; */
    /* background-color: #ccc; */
}
#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
}
#content {
   
    min-height: 160px;
}
#navigation .icon
{
    font-size: 14px;
}
#footer {
    padding: 64px 16px;
    text-align: center;


}
#navigation, .subnav 
{
    list-style-type: none;
}
#header .menu,
#header .search-icon
{
    font-size: 20px;
    color: white;
}
#header #navigation
{
    display: inline-block;
}
#header .menu,
#header .searchbtn
{
    float: right;
    line-height: 46px;
   
    padding: 0 23px;
}

#header .searchbtn:hover
{
    background-color: #f44336;
    cursor: pointer;
}
#header .menu:hover .menu-icon
{
    
    color: #000;
}
#header .menu:hover
{
    background-color: #ccc;
}
#slider .text-content
{
    position: absolute;
    color: #fff;
    bottom: 48px;
    width: 100%;
    text-align: center;
    
}
#slider .text-heading
{
    font-weight: 400;
    font-size: 24px;
}
#slider .text-description
{
    font-size: 15px;
    margin-top: 15px;
    text-shadow: 0 0 1px #000;
}
#content .content-section
{
    padding: 64px 0 112px;
    width: 800px;
    /*  có thể hiểu là khi kích thước lớn hơn 800 thì nó sẽ kéo width về 800 px */
    /*  còn witdh = 100% là để xét khi nào độ rộng < 800px thì sẽ ưu tiên xét theo width = 100 % px nó sẽ kéo 800 xuống = 100% */
    
    /* width: 100%; */
    /* padding-left: 16px; */
    margin-left: auto;
    margin-right: auto;
    /* padding-right: 16px; */
}
#content .section-heading
{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
}
#content .section-subheading
{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text
{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.6; 
    /* line hight là để xét khoảng cách giữa các dòng chữ , chỉnh độ cao của 1 dòng  */
}
#content .member-list
{
    margin-top: 32px;
   
}
#content .member-item
{
    /* float: left; */
    /* width: 33.333333%; */
    /* text-align: center; */
}
#content .member-name
{
    font-size: 15px;
   
    
}
#content .member-img
{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
.clear
{
    clear: both;
}
.tour-section
{
    background-color: #000;

}
.text-white
{
    color: #fff; !important
}
.ticker-list
{
    background-color: #fff;
    margin-top: 33px;
}
.ticker-list li
{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
}
.ticker-list .sold-out
{
    background-color: #f44336;
    color: #fff;
    padding: 3px 8px;
    margin-left: 16px;
}
.ticker-list .quantity
{
    float: right;
    margin-right: 16px;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;

}
.places-list{
    /* margin: 32px -8px 0; */
    margin-top: 16px;
    /* padding-bottom: 48px; */

}
.place-item{
    /* float: left; */
    /* width: 33.33333%; */
    /* padding: 0 8px; */

}
.place-img{
    width: 100%;
    display: block;
    /*  vi no co tinh chat inline  */
}
.place-img:hover
{
    opacity: 0.6;
}
.place-body{
    padding: 16px;
    background-color: #fff;
    font-size: 15px;

}
.place-heading{
    font-size: 15px;
    font-weight: 550;

}
.place-time{
margin-top: 15px;
color: #757575;
}
.place-desc{
margin-top: 15px;
line-height: 1.4;
}

.btn:hover
{
    background-color: #ccc;
    color: #000;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;

}
.modal.open
{
    display: flex;
}
.modal-container {
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 0.5s;
}
header.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-icon
{
    margin-right: 16px;

}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    opacity: 0.8;
    cursor: pointer;
}
.modal-close:hover {
    opacity: 1;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    opacity: 0.8;
    cursor: pointer;
}
.modal-body {
    padding: 16px;
}
.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
input.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 13px;
    margin-bottom: 20px;
}

button#buy-tickets {
    background-color: #009688;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}
button#buy-tickets:hover {
    opacity: 0.9;
    background: #ccc;
}
footer.modal-footer {
    padding: 16px;
    text-align: right;
}
.modal-footer a
{
    color: blue;
}
@keyframes modalFadeIn
{
    from
    {
        opacity: 0;
        transform: translateY(-140px);
    }
    to
    {
        opacity: 1;
        transform: translateY(0);
    }
}
.contact-content
{
    margin-top: 48px;
}
.contact-info
{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"]
{
    width: 30px;
    display: inline-block;

}
.contact-form
{
    font-size: 15px;
}
.contact-form .form-control
{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;

}
.map-section img
{
    width: 100%;
}
#footer .social
{
    font-size: 24px;
    
}
#footer .social a
{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .coppyright a:hover,
#footer .social a:hover{
   color: rgba(0, 0, 0, 0.4); 
}
#footer .coppyright
{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#footer .coppyright a
{
    
    color: rgba(0, 0, 0, 0.6);
}
/* add */
#mobile-menu
{
    display: none;
}
